// General Styles
body{
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #043c2d;
    color: #fff;
}
img{
    width: 100%;
}
.gradient-bar{
    height: 20px;
    width: 100%;
    background-image: linear-gradient(to right, #811f24, #ff190c, #fe5009, #ffb519, #ae7527);
}
.container{
    width: 100%;
    max-width: 1080px;
    padding: 0 15px;
}
.btns-container{
    display: flex;
    justify-content: center;
    .btn{
        color: #fff;
        border: 2px solid #fff;
        text-decoration: none;
        padding: 5px 25px;
        margin-right: 25px;
        transition: all 0.2s;
        width: 130px;
        text-align: center;
        &:hover{
            color: #043c2d;
            background-color: #fff;
        }
    }
    .btn-share{
        margin-right: 0;
        position: relative;
    }
}

.share-link{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: #fff;
    color: #043c2d;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    @media (max-width: 500px){
        display: flex;
    }
}
.share-link-right{
    right: 0;
}
.share-link-left{
    left: 0;
}
.share-link:hover{
    background-color: #043c2d;
    color: #fff;
}
.btn-share:hover .share-link{
    display: flex;
}


// Header Styles
header{
    min-height: 75vh;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #04213c;
    color: #fff;
    .bottom-header{
        align-self: flex-end;
        text-transform: uppercase;
        letter-spacing: 2px;
        p{
            margin-bottom: 0;
        }
    }
    img{
        width: 100%;
    }
}

nav{
    display: flex;
    justify-content: center;
    padding: 1.3rem 0;
    .nav-menu{
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            margin-right: 75px;
            font-size: 18px;
            letter-spacing: 2px;
            text-transform: uppercase;
            &:last-of-type{
                margin-right: 0;
            }
        }
        @media (max-width: 768px){
            li{
                margin-right: 25px;
                &:last-of-type{
                    margin-right: 0;
                }
            }
        }
        a{
            color: rgba(255,255,255, 0.66);
            text-decoration: none;
            transition: all 0.4s;
            &:hover{
                color: rgba(255,255,255, 1);
            }
        }
        .active-link{
            color: rgba(255,255,255,1);
        }
        .mr-0{
            margin-right: 0;
        }
        .nav-mobile{
            display: none;
        }
        @media (max-width: 768px){
            .nav-desktop{
                display: none;
            }
            .nav-mobile{
                display: block;
            }
        }
    }
}
nav.mobile-menu{
    display: none;
    padding: 0;
    @media (max-width:500px){
        li{
            font-size: 16px;
            margin-right: 15px;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
    @media(max-width: 335px){
        li{
            font-size: 12px;
            margin-right: 10px;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}
@media (max-width: 768px){
    nav.mobile-menu{
        display: flex;
    }
}

// Main Styles
main{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    .feed-container{
        width: 100%;
        max-width: 800px;
        padding: 0 15px;
        @media (max-width: 500px){
            padding: 0;
        }
    }
}
//Shop Items
.shop-item-container{
    margin-bottom: 100px;
    img{
        display: block;
        margin-bottom: 25px;
    }
}
//YT Embeds
.video-container{
    margin-bottom: 100px;
}
.yt-embed{
    width: 100%;
    max-width: 800px;
    height: 400px;
    margin-bottom: 25px;
    @media (max-width: 500px){
        height: 200px;
    }
}
.loading-container{
    height: 90vh;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 75px;
}

.music-container{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .double-img-container{
        display: flex;
        img{
            width: 50%;
        }
    }
    h3{
        margin-top: 25px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .spotify-embed{
        max-width: 100%;
        margin-top: 50px;
        margin-bottom: 25px;
    }
}

footer{
    padding-bottom: 15px;
    font-size: 0.9rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}